.geral {
  background: #e5dcdc;
  display: flex;
  justify-content: center;
}
.card {
  width: 80%;
  height: 30%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  // grid-template-rows: 2fr 2fr 1fr;
  margin-bottom: 100px;
  margin-top: 10%;
  gap: 40px;
  position: relative;

  &--unity {
    display: flex;
    flex-direction: column;
    height: 20em;
    &--top {
      margin-top: 40px;
      margin-left: 30px;
    }
  }
  .nome-prod {
    margin-top: 20px;
    font-family: Roboto;
    font-weight: 600;
  }
  button {
    margin-top: 20px;
    width: 200px;
    height: 40px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 11px;
    cursor: pointer;
    border-style: none;
    font-weight: 900;
    background: #fd5757;
    color: white;
    img {
      height: 30px;
    }
  }
}
.adicionar {
  width: 100%;
  display: flex;
  justify-content: center;
}
.img {
  margin-top: 15px;
  width: 130px;
  height: 120px;
}

.carro-vazio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -100px;

  img {
    width: 20%;
    margin-left: -20px;
    color: red;
  }
}
.bottom {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.carro-vazio {
  animation: blinkingText 2s infinite;
}
@keyframes blinkingText {
  0% {
    color: #000;
  }
  49% {
    color: #000;
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: #000;
  }
}
