<mat-toolbar class="header">
  <button
    routerLinkActive="active"
    routerLink="/inicio"
    class="header--button"
    mat-button
  >
    <i class="header--button--icon">
      <img
        class="header--button--icon--img"
        src="../../../assets/icons/inicio.svg"
        alt=""
      />
    </i>
  </button>
  <button
    routerLinkActive="active"
    routerLink="/produtos"
    class="header--button"
    mat-button
  >
    <i class="header--button--icon">
      <img
        class="header--button--icon--img"
        src="../../../assets/icons/produdos.svg"
        alt=""
      />
    </i>
  </button>

  <button
    routerLinkActive="active"
    routerLink="/carrinho"
    class="header--button"
    mat-button
  >
    <i class="header--button--icon">
      <img
        class="header--button--icon--img"
        src="../../../assets/icons/carrinho.svg"
        alt=""
      />
    </i>
  </button>
  <button
    routerLinkActive="active"
    routerLink="/sobre"
    class="header--button"
    mat-button
  >
    <i class="header--button--icon">
      <img
        class="header--button--icon--img"
        src="../../../assets/icons/sobre.svg"
        alt=""
      />
    </i>
  </button>
</mat-toolbar>
